<% if(!(catalogueType.match("none")) && !(catalogueType.match("lk"))){ %>
<% } else{ %>
    <div class="container">
        <h2>Liked Tracks</h2>
        <%if(liked_tracks.length > 0){%>
            <ul name="liked-list">
                <%for(let track of liked_tracks){%>
                    <li isLiked="<%=track.isLiked%>" isOwner="<%=track.isOwner%>" class="box track interactable" value="<%=track.id%>">
                        <div class="left">
                            <img class="list-item-img" src="../<%=track.image_url%>" alt="">
                        
                            <a class="title" href="../search?q=<%=track.title%>&f=tr,"> <%=track.title%> </a> <br>

                            <% let counter = 0;%>
                            <% for (artist of track.artists.split(/\s*[,;]\s*/)) {%>
                                <a class="artists" href="../search?q=<%=artist%>&f=ar,"><%=artist%></a>
                                <% if(counter === 3) break;%>
                                <% counter++; %>
                            <%};%>
                        </div>
                        
                        <div class="right">
                            <% for (genre of track.genres.split(/\s*[,;]\s*/)) {%>
                            <a class="genres" href="../search?q=<%=genre%>&f=gn,"><%=genre%></a>
                            <%};%>

                            <span class="likes"><%=Number(track.likes)%></span>
                        </div>
                    </li>
                <%};%>
            </ul>
        <%} else{%>
            <p>
                You haven't liked tracks yet...
            </p>
        <%};%>
    </div>
<% }; %>