<% if(!(catalogueType.match("none")) && !(catalogueType.match("upl"))) { %>
<% } else { %>
    <div class="container">
        <h2>Uploaded Tracks</h2>
        <% if(uploaded_tracks.length > 0){ %>
            <ul name="uploaded_list">
                <%for(let track of uploaded_tracks){%>
                    <li isLiked="<%=track.isLiked%>" isOwner="<%=track.isOwner%>" class="box track interactable" value="<%=track.id%>">
                        <div class="left">
                            <img class="list-item-img" src="../<%=track.image_url%>" alt="">
                        
                            <a class="title" href="../search?q=<%=track.title%>&f=tr,"> <%=track.title%> </a> <br>

                            <% let counterArtists = 0;%>
                            <% for (artist of track.artists.split(/\s*[,;]\s*/)) {%>
                                <a class="artists" href="../search?q=<%=artist%>&f=art,"><%=artist%></a>
                                <% if(counterArtists === 3){ %>
                                    <span>...</span>
                                <%break;%>
                                <%}%>
                                <% counterArtists++; %>
                            <%};%>
                        </div>
                            
                        <div class="right">
                            <% let counterGenres = 0;%>
                            <% for (genre of track.genres.split(/\s*[,;]\s*/)) {%>
                                <a class="genres" href="../search?q=<%=genre%>&f=gn,"><%=genre%></a>
                                <% if(counterGenres === 3){ %>
                                    <span>...</span>
                                <%break;%>
                                <%}%>
                                <% counterGenres++; %>
                            <%};%>

                            <span class="likes"><i class="fa-solid fa-heart" style="font-size: 12px;"></i> <%=Number(track.likes)%></span>
                        </div>
                    </li>
                <%};%>
            </ul>
        <% } else{ %>
            <p>
                You haven't uploaded tracks yet...
            </p>
        <% }; %>
    </div>
<% }; %>