<% if(!(catalogueType.match("none")) && !(catalogueType.match("upl"))) { %>
<% } else { %>
    <label for="uploaded-list">Uploaded Tracks</label>
    <% if(uploaded_tracks.length > 0){ %>
        <ul name="uploaded_list">
            <%for(let track of uploaded_tracks){%>
                <li isLiked="<%=track.isLiked%>" isOwner="<%=track.isOwner%>" class="track interactable" value="<%=track.id%>">
                    <a href="/tracks/<%=track.id%>">
                        <a href="../search?q=<%=track.title%>&f=tr,"><%=track.title%></a>

                        <% for (artist of track.artists.split(/\s*[,;]\s*/)) {%>
                            <a href="../search?q=<%=artist%>&f=ar,"><%=artist%></a>
                        <%};%>

                        <% for (genre of track.genres.split(/\s*[,;]\s*/)) {%>
                            <a href="../search?q=<%=genre%>&f=gn,"><%=genre%></a>
                        <%};%>

                        <span class="like">
                            <%=Number(track.likes)%>
                        </span>
                    </a>
                </li>
            <%};%>
        </ul>
    <% } else{ %>
        <p>
            You haven't uploaded tracks yet...
        </p>
    <% }; %>
<% }; %>