<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>

    <button id="create-playlist-btn" class="btn" onclick="createPlaylist()">
        Create playlist
    </button>

    <div id="catalogue" class="grid">
        <div class="add-container">
            <%- include('components/catalogues/filters') %>
        </div>

        <div class="main-container">
            <%- include("components/catalogues/uploaded-list") %>
            <%- include("components/catalogues/liked-list") %>
            <%- include("components/catalogues/created-list") %>
            <%- include("components/catalogues/saved-list") %>
        </div>

        <div class="add-container"></div>
    </div>

    <input id="loggin-flag" type="hidden" value="true">

    <form class="hidden centered-pop-up" id="create-playlist-form" method="POST" action="/playlists" enctype="multipart/form-data">
        <label for="title">
            <p>Title</p>
            <p></p>
        </label>
        <input name="title" type="text" required>

        <label for="image">
            <p>Image</p>
            <p></p>
        </label>
        <input name="image" type="file">

        <button type="submit">Створити</button>
    </form>

    <script src="../public/scripts/script.js"></script>
    <script type="module" src="../public/scripts/catalogue-func.js"></script>
    <%- include('components/contextmenus/playlist') %>
    <%- include('components/contextmenus/track') %>


</body>
</html>