<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>
    <%- include('components/search/search') %>
    <%- include('components/catalogues/filters') %>

    <button onclick="">
        Create playlist
    </button>

    <form method="POST" action="/playlists" enctype="multipart/form-data">
        <label for="title">
            <p>Title</p>
            <p></p>
        </label>
        <input name="title" type="text">

        <label for="image">
            <p>Image</p>
            <p></p>
        </label>
        <input name="image" type="file">

        <button type="submit">Створити</button>
    </form>
    
    <input id="loggin-flag" type="hidden" value="true">

    <%- include("components/catalogues/uploaded-list") %>
    <%- include("components/catalogues/liked-list") %>
    <%- include("components/catalogues/created-list") %>
    <%- include("components/catalogues/saved-list") %>

    <script src="../public/scripts/script.js"></script>
    <%- include('components/contextmenus/playlist') %>
    <%- include('components/contextmenus/track') %>
</body>
</html>