<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>
    <section class="grid">
        <div class="add-container">
            <%- include('components/search/filters') %>
        </div>
        <div class="main-container">
            <section class="container">
                <h3 class="block-title">Playlists</h3>
                <ul id="playlists_list">
                    <% playlists.forEach((playlist) => {%>
                        <li isSaved="<%=playlist.isSaved%>" isOwner="<%=playlist.isOwner%>" class="box playlist interactable" value="<%=playlist.id%>">
                            <img class="list-item-img" src="<%=playlist.image_url%>" alt="">
                            <a class="title" href="/playlists/<%=playlist.id%>">
                                <%=[playlist.title]%>
                            </a>
                        </li>
                    <%});%>
                </ul>
            </section>
            
            <section class="container">
                <h3 class="block-title">Tracks</h3>
                <ul id="tracks_list">
                    <% tracks.forEach((track) => {%>
                        <li isLiked="<%=track.isLiked%>" isOwner="<%=track.isOwner%>" class="box track interactable" value="<%=track.id%>">
                            <div class="left">
                                <img class="list-item-img" src="<%=track.image_url%>" alt="">
                            
                                <a class="title" href="../search?q=<%=track.title%>&f=tr,"> <%=track.title%> </a> <br>

                                <% let counterArtists = 0;%>
                                <% for (artist of track.artists.split(/\s*[,;]\s*/)) {%>
                                    <a class="artists" href="../search?q=<%=artist%>&f=art,"><%=artist%></a>
                                    <% if(counterArtists === 3){ %>
                                        <span>...</span>
                                    <%break;%>
                                    <%}%>
                                    <% counterArtists++; %>
                                <%};%>
                            </div>
                            
                            <div class="right">
                                <% let counterGenres = 0;%>
                                <% for (genre of track.genres.split(/\s*[,;]\s*/)) {%>
                                    <a class="genres" href="../search?q=<%=genre%>&f=gn,"><%=genre%></a>
                                    <% if(counterGenres === 3){ %>
                                        <span>...</span>
                                    <%break;%>
                                    <%}%>
                                    <% counterGenres++; %>
                                <%};%>

                                <span class="likes"><i class="fa-solid fa-heart" style="font-size: 12px;"></i><%=Number(track.likes)%></span>
                            </div>
                        </li>
                    <%});%>
                </ul>
            </section>

            <section class="container">
                <h3 class="block-title">Profiles</h3>
                <ul id="profiles_list">
                    <% profiles.forEach((profile) => {%>
                        <li class="box profile" value="<%=profile.id%>">
                            <img class="list-item-img profile" src="<%=profile.avatar_url%>" alt="">
                            <a class="title" href="./search?q=<%=profile.username%>&f=pr,">
                                <%=profile.username%>
                            </a>
                        </li>
                    <%});%>
                </ul>
            </section>
        </div>
        <div class="add-container"></div>
    </section>

    <input id="loggin-flag" type="hidden" value="<%=loggedIn%>">


    <script type="module" src="../public/scripts/script.js"></script>
    <%- include('components/contextmenus/playlist') %>
    <%- include('components/contextmenus/track') %>
</body>
</html>