<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>
    <%- include('components/search') %>
    <img src="../<%=playlist.image_url%>" alt=""> <br>
    <label for="track_list"><%=playlist.title%></label>
    <ul>
        <% for(let track of tracks){%>
            <li><a href="../tracks/<%=track.id%>"><%=[track.title, track.artists, track.genre]%></a></li>
        <%};%>
    </ul>
</body>
</html>