<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>

    <div id="playlist-page" class="flex-row">
        <img id="playlist-image" class="image on-page mr" src="../<%=playlist.image_url%>" alt=""> <br>

        <div class="flex-col">
            <h2 id="playlist-title"><%=playlist.title%></h2>

            <div id="playlist-controls">
                <button class="audio-player-btn" id="backward" title="Backward">
                    <i class="fa-solid fa-backward-step"></i>
                </button>
                <button class="audio-player-btn" id="start-playback" title="Play/Pause" activated=false>
                    <i class="fa-solid fa-play"></i>
                </button> 
                <button class="audio-player-btn" id="forward" title="Forward">
                    <i class="fa-solid fa-forward-step"></i>
                </button>
                <button class="audio-player-btn" id="download" title="Download">
                    <i class="fa-solid fa-download"></i>
                </button>

                <% if(loggedIn){ %>
                <button class="audio-player-btn" title="Add Playlist to Catalogue" onclick="addPlaylist()">
                   <i class="fa-solid fa-plus"></i> 
                </button>
                <%};%>

                <% if(isOwner){ %>
                <button class="audio-player-btn" title="Edit" onclick="editPlaylist()">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button class="audio-player-btn" title="Delete" onclick="deletePlaylist()">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
                <%};%>
            </div>
            <div class="audio-duration"></div>
                <ul>
                    <% for(let track of tracks){%>
                        <li isLiked="<%=track.isLiked%>" isOwner="<%=track.isOwner%>" class="box track interactable">
                            <div class="left">
                                <img class="list-item-img" src="../<%=track.image_url%>" alt="">
                            
                                <a class="title" href="../search?q=<%=track.title%>&f=tr,"> <%=track.title%> </a> <br>

                                <% let counter = 0;%>
                                <% for (artist of track.artists.split(/\s*[,;]\s*/)) {%>
                                    <a class="artists" href="../search?q=<%=artist%>&f=ar,"><%=artist%></a>
                                    <% if(counter === 3) break;%>
                                    <% counter++; %>
                                <%};%>
                            </div>
                            
                            <div class="right">
                                <% for (genre of track.genres.split(/\s*[,;]\s*/)) {%>
                                <a class="genres" href="../search?q=<%=genre%>&f=gn,"><%=genre%></a>
                                <%};%>

                                <span class="likes"><%=Number(track.likes)%></span>
                            </div>

                            <audio class="track in-playlist" src="../tracks/<%=track.audio_url%>"></audio>

                            <%if(isOwner){%>
                            <button class="icon clickable" title="Remove from Playlist" onclick="removeFromPlaylist(`<%=playlist.id%>`, `<%=track.id%>`)"><i class="fa-solid fa-minus"></i></button>
                            <%};%>
                        </li>
                    <%};%>
                </ul>
            </div>
        </div>

    <div id="edit-playlist" class="hidden centered-pop-up pop-up-form">
        <input type="text" name="title" id="title-inp" value="<%=playlist.title%>"> <br>
        <input type="file" name="image" id="image-inp"> <br>

        <button class="btn" onclick="sendEdittedPlaylist()">Edit</button>
    </div>

    <div id="overlay" class="hidden overlay"></div>

    

    <input id="loggin-flag" type="hidden" value="<%=loggedIn%>">

    <script type="module" src="../public/scripts/script.js"></script>
    <script type="module" src="../public/scripts/playlist-func.js"></script>
    <%- include('components/contextmenus/track') %>
</body>
</html>