<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>
    <%- include('components/search/search') %>
    <%- include('components/catalogues/filters') %>

    <h2 id="profile-name"><%=profile.username%></h2>
    <img src="../<%=profile.avatar%>" alt="avatar"><br>
    
    <input id="loggin-flag" type="hidden" value="<%=loggedIn%>">

    <%- include("components/catalogues/uploaded-list") %>
    <%- include("components/catalogues/liked-list") %>
    <%- include("components/catalogues/created-list") %>
    <%- include("components/catalogues/saved-list") %>

    <script src="../public/scripts/script.js"></script>
    <%- include('components/contextmenus/playlist') %>
    <%- include('components/contextmenus/track') %>
</body>
</html>