<%- include('components/html-head') %>
<body>
    <%- include('components/header') %>
    
    <div class="track-info">
        <img class="on-page" src="../<%=track.image_url%>" alt="">

        <div class="upper">
            <h3><a href="../search?q=<%=track.title%>"><%=track.title%></a></h3>

            <% for (genre of track.genres.split(/[,;]/)) {%>
            <a href="../search?q=<%=genre%>&f=gn,"><%=genre%></a>
            <%};%>
        </div>
        
    
        <div class="artists">
            <% for (artist of track.artists.split(/[,;]/)) {%>
                <a href="../search?q=<%=artist%>&f=ar,"><%=artist%></a>
            <%};%>
        </div>

        <div class="audio-player">
            <audio controls preload="auto">
                <source src="<%=track.audio_url%>" type="audio/mpeg">
            </audio>
        </div>
    </div>
    
    <div class="panel">
        <button class="btn" id="like-btn" onclick="like()">Like | <span><%=track.likes%></span></button> 

        <% if(loggedIn){ %>
            <button class="btn" onclick="addTrackToPlaylists()">Add to Playlist</button> 
        <%};%>

        <% if(isOwner){ %>
            <button class="btn" id="edit-btn" onclick="editTrack()">Edit</button>
            <button class="btn" id="delete-btn" onclick="deleteTrack()">Delete</button>
        <%};%>

        <a class="btn" href="/profiles/<%=track.owner_id%>">Profile</a>
    </div>

    <% if(playlistsContainingTrack){%>
    <h3 class="header">Playlists Containing Track</h3>
    <ul id="playlists-list">
        <%for(let playlist of playlistsContainingTrack){%>
            <li isSaved="<%=playlist.isSaved%>" isOwner="<%=playlist.isOwner%>" class="playlist interactable box" value="<%=playlist.id%>">
                <img class="list-item-img" src="../<%=playlist.image_url%>" alt="">
                <a href="../playlists/<%=playlist.id%>">
                    <%=playlist.title%>
                </a>
            </li>
        <%};%>
    </ul>
    <%};%>
    
    <input id="is-liked" type="hidden" value="<%=isLiked%>">
    <input id="loggin-flag" type="hidden" value="<%=loggedIn%>">

    <%- include('components/contextmenus/playlist') %>
    
    <form class="hidden centered-pop-up" id="add-track-form" method="POST" action="/tracks/<%=track.id%>">
        <select multiple name="playlists" id="select-playlists" class="dropdown-menu">
            <%for(let playlist of cataloguePlaylists){%>
                <option value="<%=playlist.id%>"><%=playlist.title%></option>
            <%};%>    
        </select>
        <br>
        <button class="btn" type="submit">Add</button>
    </form>

    <div class="hidden centered-pop-up" id="edit-track">
        <label for="title-inp">Title</label>
        <input type="text" name="title" id="title-inp" value="<%=track.title%>"><br>

        <label for="artists-inp">Artists</label>
        <input type="text" name="artists" id="artists-inp" value="<%=track.artists%>"><br>

        <label for="genres-inp">Genres</label>
        <input type="text" name="genres" id="genres-inp" value="<%=track.genres%>"><br>

        <label for="public-flag-inp">Is this track public?</label>
        <input type="checkbox" name="public_flag" id="public-flag-inp" checked=<%=track.public_flag%>><br>

        <label for="image-inp">Image</label>
        <input type="file" name="image" id="image-inp"><br>

        <button class="btn" onclick="sendEdittedTrack()">Edit</button>
    </div>

    <div id="overlay" class="overlay hidden"></div>

    <script src="../public/scripts/script.js"></script>
    <script src="../public/scripts/track-func.js"></script>

</body>
</html>